# ownership: loose
*	@account/android 
/.idea/	@account/android 
/account-manager/	@account/android 
/account-recovery/	@account/android 
/account/	@account/android 
/auth-fido/	@account/android 
/auth/	@account/android 
/challenge/	@account/android 
/ci/	@account/android 
/config/	@account/android 
/configuration/	@tpe
/contact/	@account/android 
/coreexample/	@account/android 
/country/	@account/android 
/coverage/	@account/android 
/crypto-validator/	@account/android 
/crypto/	@account/android 
/data-room/	@account/android 
/data/	@account/android 
/domain/	@account/android 
/event-manager/	@account/android 
/feature-flag/	@account/android 
/gopenpgp/	@crypto
/gradle/	@account/android 
/human-verification/	@account/android 
/key-transparency/	@account/android 
/key/	@account/android 
/label/	@account/android 
/lint/	@account/android 
/mail-message/	@account/android 
/mail-send-preferences/	@account/android 
/mail-settings/	@account/android 
/metrics/	@account/android 
/network/	@account/android 
/notification/	@account/android 
/observability/	@account/android 
/payment-iap/	@account/android 
/payment/	@account/android 
/plan/	@account/android 
/plugins/	@account/android
/plugins/environment-configuration/	@tpe
/presentation-compose-tv/	@account/android 
/presentation-compose/	@account/android 
/presentation/	@account/android 
/proguard-rules/	@account/android 
/push/	@account/android 
/report/	@account/android 
/telemetry/	@account/android 
/test/	@tpe
/tools/	@account/android 
/user-recovery/	@account/android 
/user-settings/	@account/android 
/user/	@account/android 
/util/	@account/android 
