<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 Proton Technologies AG
  ~ This file is part of Proton Technologies AG and ProtonCore.
  ~
  ~ ProtonCore is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ ProtonCore is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with ProtonCore.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.proton.android.core.coreexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CoreExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ProtonTheme"
        tools:replace="android:theme">
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.android.core.coreexample.init.LoggerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="me.proton.android.core.coreexample.init.WorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="me.proton.android.core.coreexample.init.EventManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="me.proton.android.core.coreexample.init.AccountStateHandlerInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ProtonTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CustomViewsActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.TextStylesActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ui.ContactsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ContactDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.CreateContactActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.AuthHelpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.ChooseAddressActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.CreateAddressActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.AddAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProtonTheme.AddAccount"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.signup.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.TwoPassModeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.auth.presentation.ui.SecondFactorActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.payment.presentation.ui.BillingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.payment.presentation.ui.PaymentOptionsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="me.proton.core.payment.presentation.ui.PaymentTokenApprovalActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="me.proton.core.presentation.ui.alert.ForceUpdateActivity" />
        <activity
            android:name="me.proton.core.report.presentation.ui.BugReportActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
